@import url('https://fonts.googleapis.com/css?family=Cairo|Changa|El+Messiri|Tajawal');

body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
/*font-family: 'El Messiri', sans-serif;
font-family: 'Changa', sans-serif;
font-family: 'Tajawal', sans-serif;*/
}
.gallery-collections h3 {
	text-align: center;
}
.portfolio-item a {
	position: relative;
}

.portfolio-item a img:last-child{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	transform: translate(-50%,-50%);
}
.video_class video {
    width: 100%;
}

.more a {
        text-align: center;
    background: #111;
    width: 35%;
    margin: auto;
    display: block;
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
}

.page-login  h2 {
    text-align: center;
    margin-bottom: 20px;
}

.page-login-input select {
    width: 100%;
    display: block;
    height: 50px;
    font-size: 12px;
    line-height: 45px;
    font-weight: 400;
    margin-top: 20px;
    vertical-align: bottom;
    background-color: rgba(255,255,255,0);
    border-bottom: solid 2px rgba(0,0,0,0.1);
    color: #1f1f1f;
}

.select label {
    float: right;
    width: 90%;

}

.select {
        vertical-align: bottom;
    background-color: rgba(255,255,255,0);
    border-bottom: solid 2px rgba(0,0,0,0.1);
    color: #1f1f1f;
      margin-top: 20px;
          line-height: 45px;
    font-weight: 400;
}

.profile-page-2-thumbnail input {
        width: 125px;
    height: 152px;
    position: absolute;
    color: #fff;
    z-index: 99;
    opacity: 0;
}

.profile-page-2-thumbnail h2 {
    position: absolute;
    color: #fff;
    bottom: 0;
    background-color: #0c1117;
    font-size: 10px;
    width: 100%;
    text-align: center;
}

.close_button {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 18px;
}

.header-dark a img {
    max-width: 65px;
    padding: 5px;
    padding-right: -23px;
    /* margin-right: -7px; */
    margin-left: 20px;
}

.profile-page-2-thumbnail img {
    width: 100%;
    height: 130px;
}

.scrolling-menu a {
    width: 33.333%;
    float: left;
    font-size: 10px;
    text-align: center;
    color: #fff;
    margin-top: 3px;
}

.header-clear-large #page-content-scroll {
        padding-top: 100px !important;
}

.tab-content.current {
    margin-top: 10%;
}

.badge-store p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;
    bottom: 0px;
    background: #11111191;
    margin-bottom: 0;
    padding: 0;
    color: #fff;
}
.header-icon-3 {
       left: 100px !important;
        right: initial; 
}

.header-icon-2 {
    left: 50px !important;
        right: initial;
}

.header-icon-1 {
    left: 0px !important;
        right: initial;
}

.header .header-logo {
    padding-right: 15px;
    float: right;
}


